@use './../mixins' as *;

.advantages {
  overflow: visible;
  &__inner {
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;

    // display: flex;
    display: grid;
    grid-template-columns: minmax(auto, 530px) minmax(auto, 810px);
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    @include md {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  &__left {
    position: sticky;
    top: 0;

    max-height: 100%;
    width: 100%;
    height: 100vh;
    padding: var(--container-padding) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    @include md {
      position: static;
      height: auto;
      padding: 0;
    }
  }
  &__left-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__left-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: fluid(48, 38);
    line-height: 120%;
    color: #000;
  }
  &__left-descr {
    font-weight: 300;
    font-size: fluid(16, 14);
    color: #000;
  }
  &__image-box {
    width: 100%;
    height: 180px;

    border-radius: 0 40px;
    overflow: hidden;
    @include md {
      display: none;
    }
  }
  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  &__items {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
  }
  &__item {
    position: sticky;
    // top: calc(var(--container-padding) + (var(--itemIndex) * 10px));
    top: 0;
    z-index: var(--itemIndex);
    @include md {
      pointer-events: none;
    }
    &:not(:first-child) {
      .advantages__item-content {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
    &._active {
      .advantages__item-content {
        background-color: #f0f0f0;
      }
    }
    &._fixed {
      .advantages__item-content {
      }
    }
  }
  &__item-content {
    width: 100%;
    height: 100%;
    padding: 60px fluid(60, 0);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

    background-color: var(--page-bg);

    // transition: all 0.5s linear;
    @include sm {
      flex-direction: column;
      gap: 60px;
    }
  }
  &__item-image-box {
    width: 180px;
    height: 180px;

    display: none;
    flex-shrink: 0;

    border-radius: 0 40px;
    overflow: hidden;
    @include md {
      display: block;
    }
  }
  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__item-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #000;
  }
  &__item-descr {
    font-weight: 300;
    font-size: fluid(15, 14);
    color: #000;
  }
}
