@use './../mixins' as *;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;

  background-color: var(--page-bg);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  overflow-x: hidden;
}

a {
  color: inherit;
}
