:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'ASD', sans-serif;

  --container-padding: 15px;
  --container-width: 1230px;

  --black: #000;
  --gray: #505050;
  --white: #fff;
  --accent: #ac182c;

  --page-bg: #fcfcfc;
}
